body {
    color: #000305;
    font-size: 87.5%; /* 100% = 14 px */
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

body.sign1801 { background-image: url(./sign1801-bg-hires.jpg); }
body.sign1802 { background-image: url(./sign1802-bg-hires.jpg); }
body.sign1803 { background-image: url(./sign1803-bg-hires.jpg); }

body.sign1901 { background-image: url(./sign1901-bg-hires.jpg); }
body.sign1902 { background-image: url(./sign1902-bg-hires.jpg); }

a {
    text-decoration: none;
}

a:link, a:visited 
{
    color: #cf5c3f;
}

a:hover, a:active
{
    background-color: #cf5c3f;
    color: white;
}
	     

body {
    position: relative;
    background-color: #eee;
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.banner {
    display: flex;
    align-items: center;
    
    background-color: #eee;
    color: #cf5c3f;
    font-size: 350%;
    font-weight: bold;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}
.banner img {
    padding-right: 1em;
}

.mainheader img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main-caption {
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    font-style: italic;
}

.main-caption em {
    font-style: normal;
}


img.lores {
    display: none;
}


.mainheader nav {
    background-color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul {
    display: flex;
    list-style: none;
}

.mainheader nav ul li {
    flex: 1;
}

.mainheader nav a:link, .mainheader nav a:visited
{
    color: #fff;
    padding: 5px;
}

.mainheader nav a:hover,
.mainheader .active
{
    background-color: #cf5c3f;
    text-shadow: none;
}

.maincontent {
    line-height: 25px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topcontent {
    background-color: #fff;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

h1 {
    color: #1f7a8c;
    font-size: 180%;
}

h2 {
    color: #cf5c3f;
}

.smaller {
    font-size: small;
}

.sidebar {
    display: flex;
    
    margin-top: 2%;
}

aside {
    flex: 1;
    padding: 2% 3%;
    margin-right: 2%;

    font-style: italic;
    
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

aside em {
    font-style: normal;
}

aside.aside-last {
    margin-right: 0%;
}

aside img {
    width: 100%;
}

.mainfooter {
    width: 100%;
    height: 40px;
    float: left;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background-color: #ccc;
    margin: 2% 0;

}

.mainfooter p {
    width: 92%;
    margin: 10px auto;
}

.tailsect {
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    margin: 2% 0;
}

.tail-body {
    display: none;
}

.credits {
    font-size: 90%;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    margin: 2% 0;
}


@media only screen and (min-width: 150px) and (max-width: 600px) {
    body.sign1801 { background-image: url(./sign1801-bg-lores.jpg); }
    body.sign1802 { background-image: url(./sign1802-bg-lores.jpg); }
    body.sign1803 { background-image: url(./sign1803-bg-lores.jpg); }

    body.sign1901 { background-image: url(./sign1901-bg-lores.jpg); }
    body.sign1902 { background-image: url(./sign1902-bg-lores.jpg); }

    img.hires {
	display: none;
    }
    img.lores {
	display: block;
    }

    body {
	width: 90%;
	font-size: 95%;
    }
    .mainheader img {
	width: 100%;
    }

    .content {
	width: 100%;
	margin-top: 2%;
    }

    .sidebar {
	flex-direction: column;
    }
    
    aside {
	margin: 2% 0;
    }

    aside img {
	width: 30%;
	float: left;
	margin: 0 2%;
    }

    .banner {
	font-size: 200%;
    }

}
