body {
    color: #000305;
    font-size: 87.5%; /* 100% = 14 px */
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
    background-image: url(./background1-1180.png);
}

a {
    text-decoration: none;
}

a:link, a:visited 
{
    color: #cf5c3f;
}

a:hover, a:active
{
    background-color: #cf5c3f;
    color: white;
}
	     

.body {
    background-color: #eee;
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainheader img {
    width: 100%;
    height: auto;
    margin-top: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main-caption {
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    font-style: italic;
}

.main-caption em {
    font-style: normal;
}


img.lores {
    display: none;
}


.mainheader nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainheader nav ul li {
    float: left;
    display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited
{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.mainheader nav a:hover,
.mainheader .active
{
    background-color: #cf5c3f;
    text-shadow: none;
}

.mainheader nav ul li {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.maincontent {
    line-height: 25px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.topcontent {
    background-color: #fff;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

h2 {
    color: #cf5c3f;
}

.sidebar {
    display: flex;
    
    margin-top: 2%;
}

aside {
    flex: 1;
    padding: 2% 3%;
    margin-right: 2%;

    font-style: italic;
    
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

aside em {
    font-style: normal;
}

aside.aside-last {
    margin-right: 0%;
}

aside img {
    width: 100%;
}

.mainfooter {
    width: 100%;
    height: 40px;
    float: left;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background-color: #666;
    margin: 2% 0;

}

.mainfooter p {
    width: 92%;
    margin: 10px auto;
    color: #fff;
}

.tailsect {
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    margin: 2% 0;
}

.tailsect .tail-body {
    display: none;
}

.credits {
    font-size: 90%;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    margin: 2% 0;
}


@media only screen and (min-width: 150px) and (max-width: 600px) {
    body {
	background-image: url(./background1-600.png);
    }

    img.hires {
	display: none;
    }
    img.lores {
	display: block;
    }

    .body {
	width: 90%;
	font-size: 95%;
    }
    .mainheader img {
	width: 100%;
    }

    .content {
	width: 100%;
	margin-top: 2%;
    }

    .sidebar {
	flex-direction: column;
    }
    
    aside {
	margin: 2% 0;
    }

    aside img {
	width: 30%;
	float: left;
	margin: 0 2%;
    }



}
